<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.scut.dao.IClassDao">

	<!--getStudentNumber -->
	<select id="getStudentNumber" resultMap="getStudentNumberHashMap">
		select student_number from class where class_id = #{classId}
	</select>
	<resultMap type="HashMap" id="getStudentNumberHashMap">
		<id property="studentNumber" column="student_number" />
	</resultMap>
	
	<insert id="insertClass">
		insert into class
		(class_id, pic_path, grade, class_name, create_time, student_number, school_id, create_teacher_id, teacher_number)
		values (#{class.classId}, #{class.picPath}, #{class.grade}, #{class.className},
		#{class.createTime}, #{class.studentNumber}, #{class.schoolId}, #{class.createTeacherId}, #{class.teacherNumber})
	</insert>
	
	<select id="getStuNumber" resultType="Integer" parameterType="String">
		select student_number from class where class_id = #{classId}
	</select>
	
	<update id="updateStudentNumber">
		update class set
		student_number = #{studentNumber}
		where class_id = #{classId}
	</update>
	
	<select id="getTeacherNumber" parameterType="String" resultType="Integer">
		select student_number from class where class_id = #{classId}
	</select>
	
	<update id="updateTeacherNumber">
		update class set
		teacher_number = #{teacherNumber}
		where class_id = #{classId}
	</update>
	
	<select id="getCreateTeacherId" parameterType="String" resultType="String">
		select create_teacher_id from class where class_id = #{classId}
	</select>
	
	<select id="getClassNameAndPicAndSchoolById" parameterType="String" resultMap="classAndSchoolMap">
		select class_id, class_name, pic_path, class.school_id, school_name
		from class left join school on class.school_id = school.school_id
		where class_id = #{classId}
	</select>
	
	<resultMap type="hashmap" id="classAndSchoolMap">
		<id property="classId" column="class_id"/>
		<result property="className" column="class_name"/>
		<result property="picPath" column="pic_path"/>
		<result property="schoolId" column="class.school_id"/>
		<result property="schoolName" column="school_name"/>
	</resultMap>

</mapper>