<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.scut.dao.PostMapper" >
  <resultMap id="BaseResultMap" type="org.scut.model.Post" >
    <id column="post_id" property="postId" jdbcType="VARCHAR" />
    <result column="student_id" property="studentId" jdbcType="VARCHAR" />
    <result column="post_title" property="postTitle" jdbcType="VARCHAR" />
    <result column="post_content" property="postContent" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="subject_id" property="subjectId" jdbcType="VARCHAR" />
    <result column="change_time" property="changeTime" jdbcType="TIMESTAMP" />
    <result column="answer_number" property="answerNumber" jdbcType="INTEGER" />
    <result column="pic_path" property="picPath" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    post_id, student_id, post_title, post_content, create_time, subject_id, change_time, 
    answer_number, pic_path
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from post
    where post_id = #{postId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from post
    where post_id = #{postId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.scut.model.Post" >
    insert into post (post_id, student_id, post_title, 
      post_content, create_time, subject_id, 
      change_time, answer_number, pic_path
      )
    values (#{postId,jdbcType=VARCHAR}, #{studentId,jdbcType=VARCHAR}, #{postTitle,jdbcType=VARCHAR}, 
      #{postContent,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{subjectId,jdbcType=VARCHAR}, 
      #{changeTime,jdbcType=TIMESTAMP}, #{answerNumber,jdbcType=INTEGER}, #{picPath,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.scut.model.Post" >
    insert into post
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="postId != null" >
        post_id,
      </if>
      <if test="studentId != null" >
        student_id,
      </if>
      <if test="postTitle != null" >
        post_title,
      </if>
      <if test="postContent != null" >
        post_content,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="subjectId != null" >
        subject_id,
      </if>
      <if test="changeTime != null" >
        change_time,
      </if>
      <if test="answerNumber != null" >
        answer_number,
      </if>
      <if test="picPath != null" >
        pic_path,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="postId != null" >
        #{postId,jdbcType=VARCHAR},
      </if>
      <if test="studentId != null" >
        #{studentId,jdbcType=VARCHAR},
      </if>
      <if test="postTitle != null" >
        #{postTitle,jdbcType=VARCHAR},
      </if>
      <if test="postContent != null" >
        #{postContent,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="subjectId != null" >
        #{subjectId,jdbcType=VARCHAR},
      </if>
      <if test="changeTime != null" >
        #{changeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="answerNumber != null" >
        #{answerNumber,jdbcType=INTEGER},
      </if>
      <if test="picPath != null" >
        #{picPath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.scut.model.Post" >
    update post
    <set >
      <if test="studentId != null" >
        student_id = #{studentId,jdbcType=VARCHAR},
      </if>
      <if test="postTitle != null" >
        post_title = #{postTitle,jdbcType=VARCHAR},
      </if>
      <if test="postContent != null" >
        post_content = #{postContent,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="subjectId != null" >
        subject_id = #{subjectId,jdbcType=VARCHAR},
      </if>
      <if test="changeTime != null" >
        change_time = #{changeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="answerNumber != null" >
        answer_number = #{answerNumber,jdbcType=INTEGER},
      </if>
      <if test="picPath != null" >
        pic_path = #{picPath,jdbcType=VARCHAR},
      </if>
    </set>
    where post_id = #{postId,jdbcType=VARCHAR}
  </update>
  <select id="findpostbyid" resultMap="BaseResultMap">
  SELECT
  <include refid="Base_Column_List"/>
  from post where  postId = #{postId,jdbcType=VARCHAR}
  </select>
  <update id="updateByPrimaryKey" parameterType="org.scut.model.Post" >
    update post
    set student_id = #{studentId,jdbcType=VARCHAR},
      post_title = #{postTitle,jdbcType=VARCHAR},
      post_content = #{postContent,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      subject_id = #{subjectId,jdbcType=VARCHAR},
      change_time = #{changeTime,jdbcType=TIMESTAMP},
      answer_number = #{answerNumber,jdbcType=INTEGER},
      pic_path = #{picPath,jdbcType=VARCHAR}
    where post_id = #{postId,jdbcType=VARCHAR}
  </update>
</mapper>