<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.scut.dao.IQuestionDao" >
  <resultMap id="BaseResultMap" type="org.scut.model.Question" >
    <id column="question_id" property="questionId" jdbcType="VARCHAR" />
    <result column="title_id" property="titleId" jdbcType="VARCHAR" />
    <result column="subject_id" property="subjectId" jdbcType="VARCHAR" />
    <result column="option_a" property="optionA" jdbcType="VARCHAR" />
    <result column="option_b" property="optionB" jdbcType="VARCHAR" />
    <result column="option_c" property="optionC" jdbcType="VARCHAR" />
    <result column="option_d" property="optionD" jdbcType="VARCHAR" />
    <result column="answer" property="answer" jdbcType="VARCHAR" />
    <result column="grade" property="grade" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    question_id, title_id, subject_id, option_a, option_b, option_c, option_d, answer, 
    grade
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from question
    where question_id = #{questionId,jdbcType=VARCHAR}
  </select>
   
  <select id="getQuestion" resultType="hashmap" parameterType="String">
		select * from question where question_id = #{questionId}
  </select>
	
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from question
    where question_id = #{questionId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.scut.model.Question" >
    insert into question (question_id, title_id, subject_id, 
      option_a, option_b, option_c, 
      option_d, answer, grade
      )
    values (#{questionId,jdbcType=VARCHAR}, #{titleId,jdbcType=VARCHAR}, #{subjectId,jdbcType=VARCHAR}, 
      #{optionA,jdbcType=VARCHAR}, #{optionB,jdbcType=VARCHAR}, #{optionC,jdbcType=VARCHAR}, 
      #{optionD,jdbcType=VARCHAR}, #{answer,jdbcType=VARCHAR}, #{grade,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.scut.model.Question" >
    insert into question
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="questionId != null" >
        question_id,
      </if>
      <if test="titleId != null" >
        title_id,
      </if>
      <if test="subjectId != null" >
        subject_id,
      </if>
      <if test="optionA != null" >
        option_a,
      </if>
      <if test="optionB != null" >
        option_b,
      </if>
      <if test="optionC != null" >
        option_c,
      </if>
      <if test="optionD != null" >
        option_d,
      </if>
      <if test="answer != null" >
        answer,
      </if>
      <if test="grade != null" >
        grade,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="questionId != null" >
        #{questionId,jdbcType=VARCHAR},
      </if>
      <if test="titleId != null" >
        #{titleId,jdbcType=VARCHAR},
      </if>
      <if test="subjectId != null" >
        #{subjectId,jdbcType=VARCHAR},
      </if>
      <if test="optionA != null" >
        #{optionA,jdbcType=VARCHAR},
      </if>
      <if test="optionB != null" >
        #{optionB,jdbcType=VARCHAR},
      </if>
      <if test="optionC != null" >
        #{optionC,jdbcType=VARCHAR},
      </if>
      <if test="optionD != null" >
        #{optionD,jdbcType=VARCHAR},
      </if>
      <if test="answer != null" >
        #{answer,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        #{grade,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.scut.model.Question" >
    update question
    <set >
      <if test="titleId != null" >
        title_id = #{titleId,jdbcType=VARCHAR},
      </if>
      <if test="subjectId != null" >
        subject_id = #{subjectId,jdbcType=VARCHAR},
      </if>
      <if test="optionA != null" >
        option_a = #{optionA,jdbcType=VARCHAR},
      </if>
      <if test="optionB != null" >
        option_b = #{optionB,jdbcType=VARCHAR},
      </if>
      <if test="optionC != null" >
        option_c = #{optionC,jdbcType=VARCHAR},
      </if>
      <if test="optionD != null" >
        option_d = #{optionD,jdbcType=VARCHAR},
      </if>
      <if test="answer != null" >
        answer = #{answer,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        grade = #{grade,jdbcType=INTEGER},
      </if>
    </set>
    where question_id = #{questionId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.scut.model.Question" >
    update question
    set title_id = #{titleId,jdbcType=VARCHAR},
      subject_id = #{subjectId,jdbcType=VARCHAR},
      option_a = #{optionA,jdbcType=VARCHAR},
      option_b = #{optionB,jdbcType=VARCHAR},
      option_c = #{optionC,jdbcType=VARCHAR},
      option_d = #{optionD,jdbcType=VARCHAR},
      answer = #{answer,jdbcType=VARCHAR},
      grade = #{grade,jdbcType=INTEGER}
    where question_id = #{questionId,jdbcType=VARCHAR}
  </update>
</mapper>