<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.scut.dao.IQuestion_paperDao" >

	<select id="getQuestions" resultType="hashmap" parameterType="String">
		select question_id as questionId ,point from question_paper where paper_id = #{paperId}
	</select>
	
	<select id="getQuestion" resultType="hashmap" >
		select paper_id as paperId,question_id as questionId ,point from question_paper where paper_id = #{paperId} AND question_id = #{questionId}
	</select>
<!-- assignHomework -->
<insert id="assignHomework">
insert into question_paper (paper_id,question_id,point)
values(#{paperId},#{questionId},#{point})
</insert>
</mapper>