<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.scut.dao.IScheduleDao" >
  <resultMap id="BaseResultMap" type="org.scut.model.Schedule" >
    <id column="schedule_id" property="scheduleId" jdbcType="VARCHAR" />
    <result column="student_id" property="studentId" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="schedule_content" property="scheduleContent" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    schedule_id, student_id, start_time, end_time, schedule_content
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from schedule
    where schedule_id = #{scheduleId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from schedule
    where schedule_id = #{scheduleId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.scut.model.Schedule" >
    insert into schedule (schedule_id, student_id, start_time, 
      end_time, schedule_content)
    values (#{scheduleId,jdbcType=VARCHAR}, #{studentId,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{scheduleContent,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.scut.model.Schedule" >
    insert into schedule
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="scheduleId != null" >
        schedule_id,
      </if>
      <if test="studentId != null" >
        student_id,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="scheduleContent != null" >
        schedule_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="scheduleId != null" >
        #{scheduleId,jdbcType=VARCHAR},
      </if>
      <if test="studentId != null" >
        #{studentId,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="scheduleContent != null" >
        #{scheduleContent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.scut.model.Schedule" >
    update schedule
    <set >
      <if test="studentId != null" >
        student_id = #{studentId,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="scheduleContent != null" >
        schedule_content = #{scheduleContent,jdbcType=VARCHAR},
      </if>
    </set>
    where schedule_id = #{scheduleId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.scut.model.Schedule" >
    update schedule
    set student_id = #{studentId,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      schedule_content = #{scheduleContent,jdbcType=VARCHAR}
    where schedule_id = #{scheduleId,jdbcType=VARCHAR}
  </update>
  
  <select id="getSchedules" resultType="hashmap" parameterType="String">
		select * from schedule where student_id = #{studentId}
  </select>
  
  <select id="getSchedulesByDate" resultType="hashmap">
		select start_time,end_time,schedule_content from schedule where student_id = #{studentId} AND year = #{year} AND month = #{month} AND day = #{day}
  </select>
  
  <insert id="addSchedule">
		insert into schedule (schedule_id , student_id , start_time , end_time , schedule_content , year , month , day ,day_of_week) 
		values (#{scheduleId},#{studentId},#{startTime},#{endTime},#{scheduleContext}, #{year}, #{month}, #{day},#{dayOfWeek})
  </insert>
  
  
</mapper>