<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.scut.dao.ISolutionDao" >
<!-- 用来完成12.	获取待批改/修改学生作业详情 -->
<select id="getSolution" resultMap="getSolutionHashMap">
select question_id,content,point from solution where student_id=#{studentId}
and paper_id=#{paperId}
</select>
<resultMap id="getSolutionHashMap" type="HashMap">
<result property="questionId" column="question_id"/>
<result property="content" column="content"/>
<result property="point" column="content"/>
</resultMap>

  <insert id="insertSolution">
		insert into solution (student_id , paper_id , question_id , content) 
		values (#{studentId},#{paperId},#{questionId},#{solutionContent})
  </insert>
  
  <update id="updateSolution">
		update solution set content=#{solutionContent}
		where student_id=#{studentId} AND paper_id=#{paperId} AND question_id=#{questionId}
  </update>
  
</mapper>