<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.scut.dao.ISolutionDao" >
<!-- 用来完成12.	获取待批改/修改学生作业详情 -->
<select id="getUncheckedSolution" resultMap="getUncheckedSolutionHashMap">
select question_id,content,point,isright,pic_path,corrected_pic from solution 
where study_id=#{studyId} AND student_id=#{studentId} AND (isright is null or isright="")
</select>
<resultMap id="getUncheckedSolutionHashMap" type="java.util.HashMap">
<result property="questionId" column="question_id"/>
<result property="solutionContent" column="content"/>
<result property="point" column="point"/>
<result property="solutionPic" column="pic_path"/>
<result property="correctedPic" column="corrected_pic"/>
</resultMap>

  <insert id="insertSolution">
		insert into solution (student_id , study_id , question_id , content,pic_path,isright) 
		values (#{studentId},#{studyId},#{questionId},#{solutionContent},#{picPath},#{isRight})
  </insert>
  
  <update id="correctSolution">
		update solution set correctedPic=#{picId},point=#{point},isright=#{isright}
		where student_id=#{studentId} AND study_id=#{studyId} AND question_id=#{questionId}
  </update>
  
 <!-- submitCorrection -->
 <update id="submitCorrection">
 update solution set point=#{point},isright=#{isright},content=#{content,jdbcType=VARCHAR} where student_id=#{studentId} and study_id=#{paperId} and question_id=#{questionId}
 </update>
 <!--autoCorrectSelect  -->
 <select id="autoCorrectSelect" resultMap="autoCorrectSelectHashMap">
 select solution.student_id,solution.paper_id,solution.question_id,solution.content from solution 
 join question on solution.question_id=question.question_id and question.option_a is not null
 </select>
 <resultMap id="autoCorrectSelectHashMap" type="HashMap">
 <id property="studentId" column="student_id"/>
 <result property="paperId" column="paper_id"/>
 <result property="questionId" column="question_id"/>
 <result property="content" column="content"/>
 </resultMap>
 <!-- autoCorrectRight -->
 <update id="autoCorrectRight"> 
 update solution set point=5,isright="1" where student_id=#{studentId} and question_id=#{questionId}
 </update>
 
 <!-- autoCorrectFalse -->
 <update id="autoCorrectFalse">
 update solution set point=0,isright="0" where student_id=#{studentId} and question_id=#{questionId}
 </update>
</mapper>