<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.scut.dao.IStudyDao">
		
	<select id="getStudyById" resultType="hashmap" parameterType="String">
		select paper_id as paperId,assign_time as assignTime,dead_line as deadLine ,ave_time as aveTime ,ave_score as aveScore ,assign_teacher_id as assignTeacherId,class_id as classId,submit_number as submitNumber ,paper_type as paperType, exam_time as examTime from study where study_id = #{studyId}
	</select>
	
	<update id="updateSubmitNum">
		update study set submit_number=submit_number+1
		where study_id=#{studyId}
    </update>
    
<!-- 获取作业列表 -->
	<select id="selectList" resultMap="getHomeworkListHashMap">
select study_id,paper_id,assign_time,submit_number,study_name,student_number from study natural join class
 where study.class_id=class.class_id
  and study.assign_teacher_id=#{teacherId}
  and study.class_id=#{classId};
	</select>
<resultMap id="getHomeworkListHashMap" type="java.util.HashMap">
<id property="studyId" column="study_id"/>
<result property="paperId" column="paper_id"/>
<result property="assignTime" column="assign_time"/>
<result property="submitNumber" column="submit_number"/>
<result property="studyName" column="study_name"/>
<result property="studentNumber" column="student_number"/>
</resultMap>
<!-- 2.deleteList -->
<delete id="deleteList" parameterType = "java.util.List">
	delete from study where study_id in(
	<foreach collection="studyIdList" index="index" item="item" separator=",">
	#{item}
	</foreach>)
</delete>
<!-- 7.获取作业批改列表 -->
<select id="getCorrectionList" resultMap="getCorrectionListHashMap">
	select study_id, study_name, paper_id,assign_time,submit_number from study natural join paper
	where assign_teacher_id=#{teacherId} and class_id=#{classId}
</select>
<resultMap id="getCorrectionListHashMap" type="java.util.HashMap">
<id property="studyId" column="study_id"></id>
<result property="paperId" column="paper_id"/>
<result property="assignTime" column="assign_time"/>
<result property="submitNumber" column="submit_number"/>
<result property="studyName" column="study_name"/>
</resultMap>

<!-- assignHomework -->
<insert id="assignHomework">
insert into study (study_id,paper_id,class_id,assign_teacher_id,dead_line,submit_number,assign_time,paper_type,exam_time,study_name)
values (#{studyId},#{paperId},#{classId},#{assignTeacherId},from_unixtime(#{deadLine},'%y-%m-%d %h:%i:%s'),#{submitNumber},#{assignTime,jdbcType=DATE},#{paperType},#{examTime},#{studyName});

</insert>

<!-- getCorrectionList2 -->
<select id="getCorrectionList2" resultMap="getCorrectionList2HashMap">
	select submit_number from study 
	where study_id=#{studyId}
	</select>
	<resultMap type="HashMap" id="getCorrectionList2HashMap">
	<id property="submitNumber" column="submit_number"/>
	</resultMap>
	<!-- getRankDetails -->
	<update id="getRankDetails">
	update study set rank=#{rank} where study_id=#{studyId}
	</update>
	<!-- getBlobRank -->
	<select id="getBlobRank" resultMap="getBlobRankMap">
	select rank from study where study_id=#{studyId}
	</select>
	<resultMap type="java.sql.Blob" id="getBlobRankMap">
	<id property="rank" column="rank" jdbcType="BLOB" typeHandler="org.apache.ibatis.type.BlobTypeHandler"></id>
	</resultMap>
	
	<select id="getRankById" parameterType="String" resultType="hashmap">
		select rank from study where study_id=#{studyId}
	</select>
</mapper>