<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.scut.dao.IStudentDao" >
	<select id="getStudentByTel" resultMap="studentMap" parameterType="String">
		select * from student where phone = #{telnumber}
	</select>
	
	<update id="updateToken">
		update student set token = #{token} where student_id = #{studentId}
	</update>
	
	<insert id="insertStudent" parameterType="Student">
		 insert into student 
		 (student_id, phone, password, create_time, pic_path, nickname, birthday, sex,
		 school_name, token, class_id, state, verify_code)
  		 values (#{student.id}, #{student.phone}, #{student.password, javaType=String, jdbcType=VARCHAR},
  		 #{student.createTime, javaType=Date, jdbcType=DATE}, #{student.picPath},
  		 #{student.nickname, javaType=String, jdbcType=VARCHAR}, #{student.birthday, javaType=Date, jdbcType=DATE},
  		 #{student.sex},#{student.schoolName, javaType=String, jdbcType=VARCHAR}, #{student.token, javaType=String, jdbcType=VARCHAR},
  		 #{student.classId, javaType=String, jdbcType=VARCHAR}, #{student.state}, #{student.verifyCode, javaType=String, jdbcType=VARCHAR})
	</insert>
	
	<insert id="insertUser" parameterType="User">
		insert into student 
		 (student_id, phone, password, create_time, pic_path, nickname, birthday, sex,
		 token, state, verify_code)
  		 values (#{user.id}, #{user.phone}, #{user.password, javaType=String, jdbcType=VARCHAR},
  		 #{user.createTime, javaType=Date, jdbcType=DATE}, #{user.picPath},
  		 #{user.nickname, javaType=String, jdbcType=VARCHAR}, #{user.birthday, javaType=Date, jdbcType=DATE},
  		 #{user.sex}, #{user.token, javaType=String, jdbcType=VARCHAR}, #{user.state},
  		 #{user.verifyCode, javaType=String, jdbcType=VARCHAR})
	</insert>
	
	<update id="updateUser" parameterType="User">
		update student set
		phone = #{user.phone},
   	 	password = #{user.password},
   	 	create_time = #{user.createTime},
    	pic_path = #{user.picPath},
    	nickname = #{user.nickname},
    	birthday = #{user.birthday, javaType=Date, jdbcType=DATE},
    	sex = #{user.sex},
    	token = #{user.token, javaType=String, jdbcType=VARCHAR},
    	state = #{user.state},
    	verify_code = #{user.verifyCode, javaType=String, jdbcType=VARCHAR}
  		where student_id = #{user.id}
	</update>
	
	<select id="getchildInfoByTel" parameterType="String" resultType="hashmap">
		select student_id as studentId, phone, nickname, student.class_id as classId, class_name as className, student.pic_path as picPath, state
		from student left join class on student.class_id = class.class_id
		where student.phone = #{telnumber}
	</select>
	
	<select id="getchildInfoById" parameterType="String" resultType="hashmap">
		select student_id as studentId, phone, nickname, student.class_id as classId, class_name as className, student.pic_path as picPath, state
		from student left join class on student.class_id = class.class_id
		where student.student_id = #{studentId}
	</select>
	<select id="getStudentById" resultMap="studentMap" parameterType="String">
		select * from student where student_id = #{studentId}
	</select>
	
	<update id="updateStudent" parameterType="Student">
		update student set
		phone = #{student.phone},
   	 	password = #{student.password},
   	 	create_time = #{student.createTime},
    	pic_path = #{student.picPath},
    	nickname = #{student.nickname},
    	birthday = #{student.birthday, javaType=Date, jdbcType=DATE},
    	sex = #{student.sex},
    	class_id = #{student.classId, javaType=String, jdbcType=VARCHAR},
    	token = #{student.token, javaType=String, jdbcType=VARCHAR},
    	school_name = #{student.schoolName, javaType=String, jdbcType=VARCHAR},
    	state = #{student.state},
    	verify_code = #{student.verifyCode, javaType=String, jdbcType=VARCHAR}
  		where student_id = #{student.id}

	</update>
	
	<resultMap type="Student" id="studentMap">
		<id property="id" column="student_id"/>
		<result property="phone" column="phone"/>
		<result property="password" column="password"/>
		<result property="createTime" column ="create_time"/>
		<result property="token" column = "token"/>
		<result property="picPath" column="pic_path"/>
		<result property="birthday" column="birthday"/>
		<result property="sex" column="sex"/>
		<result property="nickname" column="nickname"/>
		<result property="state" column="state"/>
		<result property="verifyCode" column="verify_code"/>
		<result property="schoolName" column="school_name"/>
		<result property="classId" column="class_id"/>
	</resultMap>
	
</mapper>