<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.scut.dao.ITeacher_questionDao" >
<insert id="createQuestion">
insert into teacher_question (teacher_id,question_id)values(#{teacherId},#{questionId})
</insert>
</mapper>