<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.scut.dao.ITitleDao" >
  <resultMap id="BaseResultMap" type="Title" >
    <id column="title_id" property="titleId"/>
    <result column="title_content" property="titleContent"/>
    <result column="pic_path" property="picPath"/>
  </resultMap>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Title" >
    select 
    title_id, title_content, pic_path
    from title
    where title_id = #{titleId}
  </select>
       
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from title
    where title_id = #{titleId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.scut.model.Title" >
    insert into title (title_id, title_content, pic_path
      )
    values (#{titleId,jdbcType=VARCHAR}, #{titleContent,jdbcType=VARCHAR}, #{picPath,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.scut.model.Title" >
    insert into title
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="titleId != null" >
        title_id,
      </if>
      <if test="titleContent != null" >
        title_content,
      </if>
      <if test="picPath != null" >
        pic_path,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="titleId != null" >
        #{titleId,jdbcType=VARCHAR},
      </if>
      <if test="titleContent != null" >
        #{titleContent,jdbcType=VARCHAR},
      </if>
      <if test="picPath != null" >
        #{picPath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.scut.model.Title" >
    update title
    <set >
      <if test="titleContent != null" >
        title_content = #{titleContent,jdbcType=VARCHAR},
      </if>
      <if test="picPath != null" >
        pic_path = #{picPath,jdbcType=VARCHAR},
      </if>
    </set>
    where title_id = #{titleId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.scut.model.Title" >
    update title
    set title_content = #{titleContent,jdbcType=VARCHAR},
      pic_path = #{picPath,jdbcType=VARCHAR}
    where title_id = #{titleId,jdbcType=VARCHAR}
  </update>
  
  <!-- 12.	获取待批改/修改学生作业详情 来获取title_content-->
  <select id="getTitleContent" resultMap="getTitleContentHashMap">
  	select  title_content,pic_path  from  title  where	
  	title_id  in  (select  title_id  from question  where  question_id=#{questionId})
  </select>
  <resultMap id="getTitleContentHashMap" type="HashMap">
  <id property="titleContent" column="title_content"></id>
  <result property="picPath" column="pic_path"/>
  </resultMap>
  
  <!--createObjective -->
  <insert id="createObject">
  	insert into title(title_id,title_content,picPath)
  	values
  	(#{titleId,javaType=String,jdbcType=VARCHAR},#{titleContent,javaType=String,jdbcType=VARCHAR}#{picPath,javaType=String,jdbcType=VARCHAR})
  </insert>
  <!-- createSubjective -->
  <insert id="createSubjective">
  insert into title (title_id,pic_path)values(#{titleId},#{picPath})
  </insert>
</mapper>